<h1>Today's Vendors</h1>
<h3 *ngIf="!(errorMsg == '')">{{errorMsg}}</h3>


<div *ngFor= "let v of vendor" class="card">
    <h1>{{v.name}}</h1>
    <strong>VendorID:{{v.id}}</strong><br />
  <strong>PhoneNumber:{{v.phoneNumber}}</strong><br />
  <strong>Contact Email:{{v.email}}</strong><br />
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a routerLink="/ShowFood"><button>View Menus</button></a>
  </div>
  
