
<div class="login-form">
    <h1 class ="h1">Login</h1>
    <div class = "content">
  <form>
  {{message}}
  <form (submit)="onFormSubmit()" [formGroup]="loginForm">
  
    <div class ="input-field">
    <input type="text" placeholder= "USERNAME" autocomplete="nope" name="username" formControlName="username">
    </div>
   
      
    <div class ="input-field">
        <input type="password" placeholder= "PASSWORD" name="password" formControlName="password">
    </div>
  
    <a class = "link" routerLink="/password-reset">FORGOT YOUR PASSWORD?</a>
  
    <br /> <br /> <br />
  
    <div class="action button">
      <button type="submit" value="Login" [disabled]="!loginForm.valid">LOGIN</button>
  
      <a routerLink="/sign-up"><button >SIGN UP</button></a>
    </div>
   
  
  </form>
  
  
  
  
  </form>
  </div>
  </div>
