<div class="login-form">
    <h1 class="h1">Password Reset</h1>

    <div class="content">
        <span *ngIf="error_msg!=''">{{error_msg}}</span>


        <div class="input-field">
            <input placeholder="Enter new password:" type="password" [(ngModel)]="password">
        </div>

        <div class="input-field">
            <input placeholder="Re-enter password:" type="password" [(ngModel)]="repassword">
        </div>

        <div class="action button">
            <button (click)="onReset()">Reset Password</button>
        </div>

    </div>
</div>